.categorizedList {
	margin-bottom: 2rem;
	margin-inline: 2rem;
}

.categorizedList h2 {
	font-size: 1.5rem;
	font-weight: 400;
	border-bottom: 1px solid var(--primary-green);
	margin-bottom: 1rem;
}

.itemList {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}