@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

:root {
	--primary-green: #00aa46;
	--secondary-green: #0d7639;
	--primary-gray: #b6b6b6;
	--darker-gray: #4c4c4c;
	--outline-gray: #dedede;
	--hover-gray: rgb(247, 247, 247);
	--background-gray: #f1f1f1;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Poppins", sans-serif;
	background-color: var(--background-gray);
	color: var(--primary-green);
	user-select: none;
}

@media (display-mode: standalone) {
	html {
		position: fixed;
		height: 100%;
		overflow: hidden;
	}

	body {
		width: 100vw;
		height: 100vh;
		overflow-y: scroll;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
	}
}
