.productOverview {
	position: relative;
	z-index: 100;
	background: var(--background-gray);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	gap: 1rem;
	justify-content: space-between;
}

.productName {
	display: flex;
}

.productName svg {
	height: 3.3rem;
	color: var(--darker-gray);
}

.productName div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 1.1rem;
}

.productName h2 {
	font-size: 1.4rem;
	line-height: 1.7rem;
	color: var(--darker-gray);
}

.productName h3 {
	font-size: 1rem;
	line-height: 1.2rem;
	color: var(--primary-gray);
}

.productImage {
	flex-grow: 100;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.productImage img {
	display: block;
	margin: auto;
	width: 100%;
}

.PLUWidget {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--darker-gray);
	gap: 1rem;
	font-size: 3rem;
	line-height: 3rem;
}

.PLUWidget svg {
	height: 3rem;
}

.productReturn {
	display: flex;
	margin-bottom: 2rem;
	font-size: 1.4rem;
	font-weight: 500;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
}

.productReturn:active {
	background-color: var(--hover-gray);
}
