.productItem {
	display: flex;
	width: 100%;
	height: 5rem;
	padding: 0.5rem;
	border-radius: 15px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	text-decoration: none;
}

.productItem:active {
	background-color: var(--hover-gray);
}

.productItem img {
	height: 100%;
	border-radius: 15px;
}

.productItem .itemInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 0.5rem;
}

.productItem h3 {
	font-size: 1.4rem;
	font-weight: 700;
	color: var(--primary-green);
}

.productItem h4 {
	font-size: 1rem;
	font-weight: 500;
	color: var(--darker-gray);
	line-height: 1.2rem;
}
